@id("allow_one")
permit(
  principal is demo1::Workload,
  action == demo1::Action::"GET",
  resource is demo1::HTTP_Request
)
when {
  principal has access_token.scope &&
  principal.access_token.scope.contains("profile")
};