@id("allow_one")
permit(principal is gatewayDemo::Workload, action in gatewayDemo::Action::"GET", resource is gatewayDemo::HTTP_Request) when { ((principal has "access_token") && ((principal["access_token"]) has "acr")) && (((principal["access_token"])["acr"]).contains("simple_password_auth")) };