@id("allow_one")
permit(principal is gatewayDemo::Access_token, action in gatewayDemo::Action::"GET", resource is gatewayDemo::HTTP_Request) when { principal has "access_token" };